{% extends 'core/layout/base.html'%}
{% block titulo %}Project - {{projeto.name}}{% endblock %}
{% block main %}
{% load core_tags %}
<h1 class="mt-4">Project detail</h1>
<!--<ol class="breadcrumb mb-4">-->
<!--    <li class="breadcrumb-item active">Todos os projetos</li>-->
<!--    <li class="breadcrumb-item active">Cadastrar novo projeto</li>-->
<!--</ol>-->


<!--
 Área refente a tela detalhe do projeto e alocação
-->
<div class="row">
    <!--
        Area de detalhe do projeto
    -->
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-8">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="nome" id="nome" type="text"
                                   placeholder="Enter the project name" required disabled value="{{projeto.name}}"/>
                            <label for="nome">Project name</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="status" id="status" {% if projeto.status %} checked {% endif %} disabled>
                                <label class="form-check-label" for="status">{% if projeto.status %}Active project{% else %}Inactive project{% endif %}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--
        Area de alocação
    -->

    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <i class="fas fa-people-group me-1"></i>Allocation
                    <a class="btn btn-primary ml-4" href="{% url 'core:listar_alocacao' projeto.id %}">Manage allocation
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Squad</th>
                        <!--                        <th>Ações</th>-->
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Squad</th>
                        <!--                        <th>Ações</th>-->
                    </tr>
                    </tfoot>
                    <tbody>
                    {% if alocacao %}
                    {% for alocado in alocacao %}
                    <tr>
                        <td>{{alocado.dev.name}}</td>
                        <td>{% if alocado.squad %} {{alocado.squad.nome}} {% else %} Not allocated {% endif %}</td>
                        <!--                        <td>-->
                        <!--                            <a href="{% url 'core:detalhe_projeto' alocado.projeto.id %}"><i class="fas fa-eye me-1"></i></a>-->
                        <!--                            <a href="{% url 'core:detalhe_projeto' alocado.projeto.id %}"><i class="fas fa-pen me-1"></i></a>-->
                        <!--                        </td>-->
                    </tr>
                    {% endfor %}
                    {% endif %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<!--
 Área ferentete a tela que lista ass squads
-->
<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <i class="fas fa-table me-1"></i>Squads
                    <a class="btn btn-primary ml-4" href="{% url 'core:squads' projeto.id %}">Manage Squads</a>
                </div>
            </div>
            <div id="squads" hidden>{% for squad in projeto.squad_set.all %}{{squad.nome}}{% if forloop.counter <  projeto.squad_set.all|length %},{% endif %}{% endfor %}</div>
            <div class="card-body">
                {% if projeto.squad_set %}

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        {% for squad in projeto.squad_set.all %}
                        <button class="nav-link{% if forloop.first %} active{% endif %}" id="nav-{{squad.nome}}-tab"
                                data-bs-toggle="tab" data-bs-target="#nav-{{squad.nome}}" type="button" role="tab"
                                aria-controls="nav-{{squad.nome}}"
                                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{squad.nome}}
                        </button>
                        {% endfor %}
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">


                    {% for squad in projeto.squad_set.all %}

                    <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="nav-{{squad.nome}}"
                         role="tabpanel" aria-labelledby="nav-{{squad.nome}}-tab">


                        <table id="table{{squad.nome}}">
                            <thead>
                            <tr>
                                <th>Card</th>
                                <th>Recommended dev</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Card</th>
                                <th>Recommended dev</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>

                            <tbody>
                                {% if squads %}
                                    {% for key, cards in squads.items %}
                                        {% if key == squad.nome %}
                                            {% for card in cards %}
                                            <tr>
                                                <td>{{ card.key}} - {{card.fields.summary}}</td>
<!--                                                <td>{{card.fields.assignee }}</td>-->
                                                <td>{{ recomendacoes|get_dic_value:squad.nome|get_first_dic_value:card.key }}</td>
                                                <td>
                                                    <a href="{{projeto.url}}/browse/{{card.key}}"  target="_blank">
                                                        <i class="fas fa-eye me-1"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fas fa-pen me-1"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--  Launch static backdrop modal-->
<!--</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->


<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

{% endblock %}
