{% extends 'core/layout/base.html'%}
{% block titulo %}Edit - {{projeto.name}}{% endblock %}
{% block main %}
<h1 class="mt-4">Edit - {{projeto.name}}</h1>
<!--<ol class="breadcrumb mb-4">-->
<!--    <li class="breadcrumb-item active">Todos os projetos</li>-->
<!--    <li class="breadcrumb-item active">Cadastrar novo projeto</li>-->
<!--</ol>-->

<div class="card mb-4">
<!--    <div class="card-header">-->
<!--        <div class="d-flex align-items-center justify-content-between">-->
<!--            <i class="fas fa-table me-1"></i>-->
<!--            <a class="btn btn-primary ml-4" href="{% url 'core:cadastro_projeto' %}">Cadastrar novo projeto</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-body">-->

<!--    <div class="card shadow-lg border-0 rounded-lg mt-5">-->
<!--                <div class="card-header"><h3 class="text-center font-weight-light my-4">Cadastrar novo projeto</h3></div>-->
                <div class="card-body">
                    <form action="{% url 'core:editar_projeto' projeto.id %}" method="post" >
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control"name="nome"  id="nome" type="text" placeholder="Enter the project name" required value="{{projeto.name}}"/>
                                    <label for="nome">Project name*</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="status" id="status" {% if projeto.status %}checked{% endif %}>
                                    <label class="form-check-label" for="status">{% if projeto.status %}Active project{% else %}Inactive project{% endif %}</label>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="linguagens">Languages*</label>
                                <select class="form-select" multiple aria-label="multiple select example" name="linguagens" id="linguagens" required>
                                    {% for ling in linguagens %}
                                    <option value="{{ ling.id }}" {% if ling in projeto.linguagens.all %}selected{% endif %}>{{ ling.nome }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" name="url" id="url" type="text" placeholder="Enter project URL in jira" required value="{{projeto.url}}"/>
                            <label for="url">Project URL*</label>
                            <!--                            <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />-->
<!--                            <label for="inputEmail">Email address</label>-->
                        </div>

                         <div class="form-floating mb-3">
                             <div class="form-floating">
                              <textarea class="form-control" name="experiencias" placeholder="Enter project characteristics" id="experiencias" required>{% for exp in projeto.experiencia_set.all %}{{exp}}{% if forloop.counter <  projeto.experiencia_set.all|length %},{% else %}.{% endif %} {% endfor %}</textarea>
                              <label for="experiencias">Characteristics*</label>
                            </div>
                        </div>

                        <div class="mt-4 mb-0">
                            <div class="d-grid">
                                <input class="btn btn-primary btn-block" type="submit" value="Edit">
<!--                            <a class="btn btn-primary btn-block" href="{% url 'core:cadastro_projeto' %}">Create Account</a>-->
                            </div>
                        </div>
                    </form>
                </div>
</div>

{% endblock %}
