{% extends 'core/layout/base.html'%}
{% block titulo %}{{projeto.name}} allocation{% endblock %}
{% block main %}
<h1 class="mt-4">{{projeto.name}} allocations</h1>
<ol class="breadcrumb mb-4">
<!--    <li class="breadcrumb-item active"> Squads do projeto {{projeto.nome}}</li>-->
<!--    <li class="breadcrumb-item active">Cadastrar novo projeto</li>-->
</ol>

<div class="card mb-4">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <i class="fas fa-table me-1"></i>
            <a class="btn btn-primary ml-4 float-righ" onclick="window.location = ('{% url 'core:detalhe_projeto' projeto.id %}');">Back to project</a>
            <a class="btn btn-primary ml-4" href="{% url 'core:alocar_dev' projeto.id %}">Allocate developer</a>
        </div>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Squad</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Squad</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
            <tbody>
                {% if alocados %}
                {% for alocado in alocados %}
                <tr>
                    <td>{{alocado.dev.name}}</td>
                    <td>{% if alocado.squad %}{{alocado.squad.nome}}{% else %} Não alocado {% endif %}</td>
                    <td>
                        <a href="{% url 'core:detalhe_dev' alocado.dev.id %}" ><i class="fas fa-eye me-1"></i></a>
                        <a href="{% url 'core:alocar_dev_squad' projeto.id alocado.dev.id %}" ><i class="fas fa-pen me-1"></i></a>
                        <a href="{% url 'core:remover_alocar_dev' projeto.id alocado.id %}" ><i class="fas fa-user-xmark me-1"></i></a>

                    </td>
                </tr>
                {% endfor %}
                {% endif %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}
