{% extends 'core/layout/base.html'%}
{% block titulo %}Developers{% endblock %}
{% block main %}
<h1 class="mt-4">Developers</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">All developers</li>
<!--    <li class="breadcrumb-item active">Cadastrar novo projeto</li>-->
</ol>

<div class="card mb-4">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <i class="fas fa-table me-1"></i>
            <a class="btn btn-primary ml-4" href="{% url 'core:cadastro_dev' %}">Register new developer</a>
        </div>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
            <tbody>
                {% if desenvolvedores %}
                {% for dev in desenvolvedores %}
                <tr>
                    <td>{{dev.name}}</td>
                    <td>{{dev.project.name}}</td>
                    <td>
                        <a href="{% url 'core:detalhe_dev' dev.id %}" ><i class="fas fa-eye me-1"></i></a>
                        <a href="{% url 'core:detalhe_dev' dev.id %}" ><i class="fas fa-pen me-1"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}
